/*#title img{ 
    padding:2em;
    background color:none;
    display:inline-block;
    border: none;
    position:fixed;
    margin: 1em 10em 2em 1em

}
*/
/*#menu{
    border: none;
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
    background-color: none;
    position:fixed;
    padding:1em;
    margin:14em 2em 1em 1em;
    display:inline-block;
    text-decoration: none;
}*/

a {
    color: #000000;
    text-decoration: none;
}

a:visited {
    color: #000000;
    text-decoration: none;
}

a:link {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #000000;
    text-decoration: none;
}

a:active {
    color: #000000;
    text-decoration: none;
}

.menu,
.Years {
    list-style-type: none;
    list-style: none;
}

.menu {
    position: fixed;
}
/*.ImageSpace{
    display:inline-block;
    background-color: #000000;
    border: 1px solid black;
    position:absolute;
}*/

.Years li {
    color: #ffd700;
    font-size: 16px;
    padding: 5px;
}

.imagetitle {
    position: relative;
    left: 200px;
}

.image {
    margin: 200px;
    margin-bottom: 10px;
    border: 1px solid black;
    padding: 50px;
}

.imageportrait {
    margin: 325px;
    margin-top:150px;
    margin-bottom: 10px;
    border: 1px solid black;
    padding: 50px;
}

.address {
    margin: 200px;
    margin-top: 25px;
    border: 1px solid black;
    padding: 50px;
}

.speculation {
    height: 550px;
    width: 550px;
    margin: 200px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 1px solid black;
    padding: 50px;
    clear: both;
    background-color: #d84389;
}

.name {
    margin: 300px;
    margin-bottom: 25px;
    border: 1px solid black;
    padding: 25px;
}
.lettersimg {
    margin: 200px;
    margin-top: 150px;
    border: 1px solid black;

}
